<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>乐鲜生阳澄湖大闸蟹</title>
<meta content="" name="keywords">
<meta content="" name="description">
<script type="text/javascript">
/*响应式布局 start*/
function setRootFontSize() {
    var width = document.documentElement.clientWidth;
    if (width > 640) { width = 640 }
    var fontSize = (width / 320) * 50;
    document.getElementsByTagName('html')[0].style['font-size'] = fontSize + 'px';
}
setRootFontSize();
window.onresize = setRootFontSize;
/*响应式布局 end*/
</script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/base.js"></script>
    </head>

<body>

<div class="mzt-o-item">
<div class="search"><input type="text" placeholder="请输入编号或名称搜索" class="textInput"><input name="" type="button" value="搜索" class="butInput"></div>
    <volist name="list" id="item">
<div class="del_img">
	<div class="serial">{$item.id}</div>
    <div class="imgTou"><img src="{$item.wx_pic}" width="100%" height="100%"></div>
    <div class="text">
    <p>{$item.wx_name}积分：<span>{$item.credit}</span><span class="gridItem_fl"></span></p>
    <p><span class="icon" onclick="credit('{$item.id}','{$item.sess_id}')">给TA1分</span></p>
    </div>
</div>
</volist>
    <div class="pages">{$page}</div>
</div>
</body>
</html>